.Pads {
  max-width: 30em;
  display: flex;
  flex-wrap: wrap;
}

.Pad {
  position: relative;
  width: 80px;
  height: 80px;
  padding: 0;
  margin: 0 1em 1em 0;
  opacity: 1;
}

.Pad:hover .body {
  opacity: 0.9;
}

.Pad .body {
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.Pad .label {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.Pad img {
  width: 100%;
  height: 100%;
}

.Pad.pressed .body {
  opacity: 1;
}
